.item {
  display: flex;
  align-items: center;
}

.option {
  color: #8a27ec;
  font-size: 22px;
  letter-spacing: 0.1em;
  font-weight: 400;
  margin-right: 3px;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  overflow: hidden;
  border-radius: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

.button .layer {
  border-radius: 100px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: rgba(138, 39, 236, 0.4);
  transition: 0.3s ease all;
  z-index: 1;
}

.button .knobs:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #8a27ec;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.button .checkbox:checked + .knobs:before {
  content: "";
  left: 42px;
  background-color: rgb(55, 196, 221);
}

.button .checkbox:checked ~ .layer {
  background-color: rgba(55, 196, 221, 0.4);
}

.button .knobs,
.button .knobs:before,
.button .layer {
  transition: 0.3s ease all;
}
