.volume {
  display: flex;
  align-items: center;
}

.option {
  display: inline;
  color: #8a27ec;
  font-size: 22px;
  letter-spacing: 0.10em;
  font-weight: 400;
  margin-right: 5px;
}

.range {
  -webkit-appearance: none;
  width: 100%;
  background-color: #000000;
}
 
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
}
 
.range:focus {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 10px;
  background: #8a27ec;
  cursor: pointer;
  margin-top: -14px; 
  box-shadow: 1px 1px 1px rgb(138, 39, 236, 0.4), 0px 0px 1px; 
}
 
.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #8a27ec;
  border-radius: 3px;
}
 
.range:focus::-webkit-slider-runnable-track {
  background: rgb(55, 196, 221);
}
 