.settings {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
}
.row1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
