.item {
  display: flex;
  align-items: center;
}

.option {
  color: #8a27ec;
  font-size: 22px;
  letter-spacing: 0.1em;
  font-weight: 400;
  margin-right: 3px;
}

.play_button {
  height: 40px;
  width: 40px;
  background-color: rgba(138, 39, 236, 0.4);
  border: none;
  outline: none;
  border-radius: 100px;
  position: relative;
}

.play_button:hover {
  background-color: rgb(55, 196, 221);
}

.play_button:after {
  content: "";
  display: block;
  position: absolute;
  top: 10.5px;
  left: 13px;
  margin: 0 auto;
  border-style: solid;
  border-width: 9.5px 0 9.5px 17px;
  border-color: transparent transparent transparent #8a27ec;
}

.play_button:disabled {
  background-color: rgba(55, 196, 221, 0.4);
}
