.App {
  text-align: center;
}

@font-face {
  font-family: Monoton;
  src: url(fonts/Monoton.ttf);
}

h1 {
  color: #8a27ec;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  font-family: Monoton;
  letter-spacing: 0.1em;
}

h2 {
  color: rgb(55, 196, 221);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

header {
  position: relative;
  margin: 90px 0;
}
