.content {
  position: relative;
  width: 86px;
  height: 350px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  background: rgba(55, 196, 221, 0.7);
  color: #541a8d;
}

.sharp {
  position: relative;
  z-index: 1;
}

.sharp .content {
  position: absolute;
  background: #000;
  color: #6720ad;
  left: -25px;
  width: 50px;
  height: 210px;
}

.active {
  transform: scale(0.95);
  border-color: #8a27ec;
  box-shadow: 0 0 1rem #8a27ec;
}

.hint {
  display: block;
  width: 100%;
  opacity: 0;
  position: absolute;
  bottom: 7px;
  transition: opacity 0.3s ease-out;
  font-size: 20px;
}

.key:hover .hint {
  opacity: 1;
}

.button {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 45px;
  transition: opacity 0.3s ease-out;
  font-size: 25px;
}
